.socials-container {
    display: inline-block;
    padding: 0;
    margin-bottom: 60px;
    // margin-left: 70px;
    // margin-top: 70px;
    // margin-bottom: 100px;
    width: 206px;
    height: 80px;
}

.social-title {
    color: $white-color;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.social1-icon {
    display: inline-flex;
    align-items: center;
    fill: $white-color
}


.social-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    


    & .social1-link:hover,
    & .social1-link:focus {
        background-color: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.social1-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1); 
    transition: background-color 250ms $timing-function,
                box-shadow 250ms $timing-function;


    &:hover .social1-icon,
    &:focus .social1-icon {
        background-color: $accent-color;
        fill: $white-color;
    }

    & .social1-icon {
        transition: background-color 250ms $timing-function,
                    box-shadow 250ms $timing-function;
    } 
}   
