.footer-form {
    width: 100%;
    // width: 570px;
    // height: 86px;
    // display: flex;
    // justify-content: space-between;
    padding: 0;
    padding-bottom: 60px;
    // margin-left: 93px;
    // margin-top: 70px;
    // margin-bottom: 100px;
}

.footer-form label {
    color: $white-color;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    margin-top: 0;
    // margin-bottom: 20px;
}

.footer-form input {
    padding: 15px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $secondary-bg-color;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    // width: 358px;
    height: 50px;

    @include fonts(normal, 16px, 1.25, 0.03em);
   
    color: rgba(255, 255, 255, 0.6);
}

.footer-field {
    // display: flex;
    flex-direction: column;
    padding: 0;  
}

.footer-button {
    display: inline-flex;
    margin: 0; 
    margin-top: auto;
    padding: 10px 28px;
    width: 200px;
    align-items: center;
   
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    border: transparent;
    color: $white-color;
    background-color: $accent-color;

    @include fonts(700, 16px, 1.9, 0.06em);
   
    text-align: center;
    cursor: pointer;
}

.send-icon {
    display: inline-flex;
    align-items: center;
    fill: $white-color;
    padding: 0;
    margin-left: 10px;
}