.contacts {
    display: flex;
    margin-left: auto;
    // align-items: center;
    list-style: none;
    justify-content: space-between;

    & .item + .item {
         margin-left: 50px;
        }

    & .contact-link {
        display: inline-flex;
        padding-top: 31px;
        padding-bottom: 31px;
        align-items: center;

        @include for-size(tablet) {
            padding: 0;
        }

        color: $primary-text-color;
        @include fonts(500, 14px, 1.14, 0.02em);
        text-decoration: none;
    }

        @include for-size(mobile-only) {
            display: none;
        }

        @include for-size(tablet) {
            flex-flow: column;
            align-items: flex-start;
        }  
    }
    

.contact-icon {
    display: inline-flex;
    margin-right: 10px;
    padding: 0;
    fill: $primary-text-color;
}

.contact-link {
    transition: color 250ms $timing-function;

     

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &:hover >.contact-icon,
    &:focus >.contact-icon { 
        fill: $accent-color;
    }

    &:hover >.contact-icon {
        transition: fill 250ms $timing-function;
    }
}