.contacts {
    margin-left: auto;
    list-style: none;

    @include for-size(tablet) {
        padding: 0;
        flex-flow: column;
        align-items: flex-start;
    }

    @include for-size(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.contacts .item + .item {
    @include for-size(desktop) {
    margin-left: 50px;
    }
}

.contacts .contact-link {
        color: $primary-text-color;

        @include fonts(500, 14px, 1.14, 0.02em);
        text-decoration: none;

        @include for-size(mobile-only) {
            display: none;
        }

        @include for-size(tablet) {
            padding: 0;
        }

        @include for-size(desktop) {
            display: inline-flex;
            padding-top: 31px;
            padding-bottom: 31px;
            align-items: center;
        }    
}
    
.contact-icon {
    display: inline-flex;
    margin-right: 10px;
    padding: 0;
    fill: $primary-text-color;
}

.contact-link {
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &:hover >.contact-icon,
    &:focus >.contact-icon { 
        fill: $accent-color;
    }

    &:hover >.contact-icon {
        transition: fill 250ms $timing-function;
    }
}