textarea{
    resize: none;
}

.form {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    @include for-size(desktop) {
        width: 448px;
    }
}

.form-field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0;
}

.form-field input {
    padding: 11px 12px;
    padding-left: 42px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms $timing-function;
}

.form-field label {
    margin-bottom: 4px;
    @include fonts(normal, 12px, 1.7, 0.01em);
    color: $primary-text-color
}

.form-icon {
    position: absolute;
    top: 55%;
    left: 15px;

    display: inline-block;
    align-items: center;
    transition: fill 250ms $timing-function;
}

.form-field input:focus,
            input:hover {
    outline: none;
    border: 1px solid #2196F3;
}

.form-field:hover,
.form-field:focus-within > .form-icon{
    fill: #2196F3;
}

.form-field textarea {
    padding: 12px 16px;
    margin: 0;
    margin-bottom: 10px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms $timing-function;
}

.form-field textarea::placeholder {
    color:rgba(117, 117, 117, 0.5);
    @include fonts(normal, 14px, 1.14, 0.01em);
}

.form-field textarea:focus,
            textarea:hover {
    outline: none;
    border: 1px solid #2196F3;
}

.form-checkbox {
    display: flex;
    justify-content: center;
    height: 24px;
    padding: 0;
    width: 370px;
    height: 15px;

    @include for-size(desktop) {
        width: 425px;
        height: 24px;
    }
}

.checkbox {
    position: absolute;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-label::before {
    content: "";

    display: inline-flex;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    margin-top: 4px;

    background-color: $white-color;
    border: 2px solid $title-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.checkbox:checked ~ .checkbox-label::before {
    background-image: url(../images/icon-check.svg);
    background-color: $accent-color;
    border-radius: 2px;
    box-shadow: none;
    border: none;
}

.form-checkbox label{
    margin-left: 7px;
    @include fonts(normal, 11px, 1.17, 0.03em);

    @include for-size(desktop) {
        @include fonts(normal, 13px, 1.7, 0.03em);
    }
}

.form-checkbox a {
    display: inline-block;
    margin-left: 4px;
    color: $accent-color;
    @include fonts(normal, 11px, 1.17, 0.03em);
    text-decoration: underline;

    @include for-size(desktop) {
        @include fonts(normal, 13px, 1.7, 0.03em);
        display: inline;
    }
}

.form-button {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 164px;
    margin-right: auto;
    margin-left: auto; 
    padding: 10px 32px;
    width: 200px;
   
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    border: transparent;
    color: $white-color;
    background-color: $accent-color;

    @include fonts(700, 16px, 1.9, 0.06em);
    text-align: center;
    cursor: pointer;
}