.team-socials {
    display: flex;
    padding: 0;
    margin-right: 32px;
    margin-left: 32px;
    min-width: 206px;
    height: 44px;
    list-style: none;
    justify-content: center;
}

.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $white-color;
    transition: box-shadow 250ms $timing-function, 
                background-color 250ms $timing-function;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $accent-color;
    }            
}

.social-icon {
    display: inline-flex;
    align-items: center;
    fill: $icon-color;
    transition: fill 250ms $timing-function;


    &:hover {
        fill: $white-color;
    }
}


.social-link .social-icon {
    transition: fill 250ms $timing-function;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: $white-color;
}