.title {
    color: $title-text-color;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10;
    text-align: start;

    @include for-size(mobile-only) {
        text-align: center;
    }
}

.features-text {
  margin-top: 0;
  margin-bottom: 30px;

  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

.section-features {
    margin-top: 60px;

    @include for-size(desktop) {
      padding-bottom: 30px;  
    } 
}

 .features {
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}

.features-item {
  width: 100%;

  @include for-size(mobile) {
    width: 450px;
  }
  .features-item:not(:last-child) {
    @include for-size(mobile-only) {
      margin-bottom: 30px;
    }
  }

  .features-item:nth-child(-n + 2) {
    @include for-size(tablet-only) {
      margin-bottom: 30px;
    }
  }
 
    @include for-size(tablet) {
      width: 354px;
    }

    @include for-size(desktop) {
      width: 270px;
      margin-bottom: 0;
    }

  .features-item:not(:last-child) {
    @include for-size(desktop) {
      margin-right: 30px;
    }
  }

  .features-item:nth-child(2n + 1) {
    @include for-size(tablet) {
      margin-right: 30px;
    }
  }

}

.features-item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: $additional-bg-color;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

.features-item:nth-child(1)::before {
  background-image: url(/images/svg/icon-antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(/images/svg/icon-clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(/images/svg/icon-diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../images/svg/icon-astronaut.svg);
}

.features-item:not(:last-child) {
  @include for-size(mobile-only) {
    margin-bottom: 30px;
  }
}

.features-list {
    margin-bottom: 30px; 
    padding: 0;
    margin-top: 0;
    list-style: none;
    display: none; 
}

.feature-button {
    display: inline-block;
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: $additional-bg-color;
}