.title {
    color: $title-text-color;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10;
    text-align: start;

    @include for-size(mobile-only) {
        text-align: center;
    }
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  // display: inline-block;
  // margin-top: -14px;
  // margin-bottom: -14px;
}

.section-features {
    // padding-top: 94px;
    // padding-bottom: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
}

// .features {
//     // @include for-size(tablet) {
//     //     display: flex;
//     //     flex-wrap: wrap;
//     //     justify-content: space-between;
//     // }
// }

// .features-item {
//     min-width: 270px;
// }

// :not(:last-child)

.features-item {
  width: 100%;
}

.features-item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: $additional-bg-color;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

.features-item:nth-child(1)::before {
  background-image: url(/images/svg/icon-antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(/images/svg/icon-clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(/images/svg/icon-diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(/images/svg/icon-astronaut.svg);
}

.features-item:not(:last-child) {
  @include for-size(mobile-only) {
    margin-bottom: 30px;
  }
}

.features-list {
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 30px; 
    padding: 0;
    margin-top: 0;
    list-style: none;
    display: none; 
}

.feature-button {
    display: inline-block;
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: $additional-bg-color;
}