.logo .accent-footer {
    color: $white-color;
}

.address .link {
    color: $white-color;
    @include fonts(normal, 14px, 1.7, 0.03em);
    font-style: normal;
    text-decoration: none;
}

.address .contact {
    color: $contact-color;
    @include fonts(normal, 14px, 1.7, 0.03em);
    font-style: normal;
    text-decoration: none;
}

.address {
    background-color: $secondary-bg-color;

    @include for-size(mobile-only) {
        min-width: 480px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.address-nav {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(mobile-only) {
        min-width: 480px;
      }

    @include for-size(tablet) {
    display: inline-block;
    text-align: center;
    margin-left: 76px;
    }

    @include for-size(desktop) {
    text-align: left;
    margin-left: 0;
    }
}

.address-nav .logo {
    padding-top: 0;
    padding-bottom: 20px;
}

.address .item {
    margin-bottom: 9px;

}

.footer-flex {
    @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    }

    @include for-size(mobile-only) {
        min-width: 480px;
      }
}