.hero-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: $white-color;
    @include fonts(900, 26px, 1.61, 0.06em); 
    text-transform: uppercase;

    @include for-size(desktop) {
        font-size: 44px;
        line-height: 1.36;
      }
}

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $secondary-bg-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url('../images/img-hero-opt.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
        url(../images/mobile/hero@2x.png);
    }


//   @include for-size(mobile-only) {
//     width: 480px;
// }

  @include for-size(tablet-only) {
    width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero@2x.png);
    }
  }

  @include for-size(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/hero.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/hero@2x.png);
    }
}
}

.button.primary {
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    min-width: 200px;
    border: transparent;
    color: $white-color;
    background-color: $accent-color;
    @include fonts(700, 16px, 1.9, 0.06em);
    align-items: center;
    text-align: center;
}