.work-nav p {
    margin-top: 0;
    margin-bottom: 0;
}

.product-title {
    color: $title-text-color;
    @include fonts(700, 18px, 2, 0.06em);
    margin-bottom: 4px;
}

.description {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.88;
}

.product-list {
    min-width: 322px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 24px;
}

.work-nav {
    display: flex;
    flex-wrap: wrap; 


    & .link {
        display: inline-block;
        text-decoration: none;
        transition: box-shadow 250ms $timing-function;
    }

    & .link:hover,
    & .link:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.work-nav .item {
    display: inline-block;
    width: 370px;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid $border-line-color;
    background-color: $white-color;
}

.product-item img {
  display: block;
  width: 100%;
}

.product-thumb {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $timing-function;
}

.work-nav .link:hover .product-overlay,
.work-nav .link:focus .product-overlay {
    transform: translateY(0) 
}

.product-label {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 322px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    opacity: 0;

    @include fonts(normal, 18px, 1.5, 0.03em);
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 250ms $timing-function;         
}

.work-nav .link:hover .product-label,
.work-nav .link:focus .product-label {
    opacity: 0.7;
}

.work-nav .item:nth-child(3n) {
    margin-right: 0;
}

.work-nav .item:nth-child(- n + 3) {
    margin-bottom: 0;
}
